/* Animação da tela inicial do SIA */

.animacao-logo {
  animation: aparecerLogo 1s ease;
}

.animacao-titulo {
  animation: aparecerTitulo 1.3s ease;
}

.animacao-subtitulo {
  animation: aparecerSubtitulo 1.8s ease;
}

@keyframes aparecerLogo {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes aparecerTitulo {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes aparecerSubtitulo {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
